/* 覆盖element-ui的样式 */

// .el-container {
//   width: 100%;
//   height: 100%;
//   .el-aside {
//     width: 112pt!important;
//     width: 100%;
//     height: 100%;
//     background-color: #0E1935;
//   }
//   .el-submenu__title:hover{
//     background-color: #122043!important;
//   }
// }
.el-container .el-submenu .el-menu-item, .el-container .el-submenu__title {
  height: 31pt;
  line-height: 31pt;
  color: #BBBBBB!important;
}
.el-submenu__title:hover{
  background-color: #122043!important;
}